body {
  height: 100%;
  background-color: #333;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

html,
body {
  height: 100%;
  background-color: #333;
}

.panel-title {
    font-size: 32px;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
  text-align: center;
}

.refreshtxt {
  text-align: center;
  color: rgba(255,255,255,.5);
}

.headertxt {
  text-align: center;
  color: rgba(255,255,255,.5);
  font-size: 32px;
}
